<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILogger" type="ConsoleApp.code.ILogger, UnityFramework" />
    <namespace name="ConsoleApp.code" />
    <assembly name="ConsoleApp" />
    <container>
      <register type="ILogger" name="LoggerWithTime" mapTo="Logger"/>
      <register type="ILogger" name="LoggerWithoutTime" mapTo="LoggerDefault"/>
      <register type="ILocalStorage" name="LocalStorage" mapTo="LocalStorage"/>
    </container>
   
  </unity>
</configuration>